\documentclass{article}
\title{TexBucket Latex Template}
\author{Xitao Wen}
\date{September 2014}
\begin{document}
  \maketitle
  Hello world!
  \cite{compact_update_hotsdn}
  {\bibliographystyle{plain}
  \bibliography{main}}
\end{document}